In [2]:
import pandas as pd
import numpy as np

#Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# 1. Create Data Frames

In [3]:
# Create Data Frame
aqi_meck_df = pd.DataFrame()
aqi_wake_df = pd.DataFrame()

# Array of Pollutants
pollutant = ["CO", "NO2", "OZONE", "PM2", "PM10"]

In [4]:
# Store highest AQI value
meck_max_aqi = 0
wake_max_aqi = 0

# Obtain each Pollutant's Median and Mean for Wake & Mecklenburg
for x in pollutant:
    # Read csv files
    temp_meck_df = pd.read_csv(f"Resources/Pollutant_Data/ad_viz_plotval_data_{x}_meck.csv")
    temp_wake_df = pd.read_csv(f"Resources/Pollutant_Data/ad_viz_plotval_data_{x}_wake.csv")

    #Rename 'DAILY_AQI_VALUE' column to include pollutant name
    temp_meck_df = temp_meck_df.rename(columns={"DAILY_AQI_VALUE": f"{x}_DAILY_AQI_VALUE"})
    temp_wake_df = temp_wake_df.rename(columns={"DAILY_AQI_VALUE": f"{x}_DAILY_AQI_VALUE"})

    # Merge dataframes
    aqi_meck_df = pd.concat([aqi_meck_df, temp_meck_df])
    aqi_wake_df = pd.concat([aqi_wake_df, temp_wake_df])

In [5]:
# Drop unnecessary columns
aqi_meck_df = aqi_meck_df.drop(columns=["Source", "POC", "CO", "NO2", "OZONE", "PM2", "PM10", "UNITS", "Site Name", "Site ID", "DAILY_OBS_COUNT", "PERCENT_COMPLETE", "AQS_PARAMETER_CODE", "AQS_PARAMETER_DESC", "CBSA_CODE", "CBSA_NAME", "STATE_CODE", "STATE", "COUNTY_CODE", "SITE_LATITUDE", "SITE_LONGITUDE"])
aqi_wake_df = aqi_wake_df.drop(columns=["Source", "POC", "CO", "NO2", "OZONE", "PM2", "PM10", "UNITS", "Site Name", "Site ID", "DAILY_OBS_COUNT", "PERCENT_COMPLETE", "AQS_PARAMETER_CODE", "AQS_PARAMETER_DESC", "CBSA_CODE", "CBSA_NAME", "STATE_CODE", "STATE", "COUNTY_CODE", "SITE_LATITUDE", "SITE_LONGITUDE"])

In [6]:
# Rearrange columns
aqi_meck_df = aqi_meck_df[["Date", "COUNTY", "CO_DAILY_AQI_VALUE", "NO2_DAILY_AQI_VALUE", "OZONE_DAILY_AQI_VALUE", "PM2_DAILY_AQI_VALUE", "PM10_DAILY_AQI_VALUE"]]
aqi_meck_df = aqi_meck_df.reset_index(drop=True)

aqi_wake_df = aqi_wake_df[["Date", "COUNTY", "CO_DAILY_AQI_VALUE", "NO2_DAILY_AQI_VALUE", "OZONE_DAILY_AQI_VALUE", "PM2_DAILY_AQI_VALUE", "PM10_DAILY_AQI_VALUE"]]
aqi_wake_df = aqi_wake_df.reset_index(drop=True)

In [7]:
# Rename Date to "DATE"
aqi_meck_df = aqi_meck_df.rename(columns={"Date": "DATE"})
aqi_wake_df = aqi_wake_df.rename(columns={"Date": "DATE"})

In [8]:
# Convert Date column to datetime
aqi_meck_df["DATE"] = pd.to_datetime(aqi_meck_df["DATE"])
aqi_wake_df["DATE"] = pd.to_datetime(aqi_wake_df["DATE"])

# Sort by Date
aqi_meck_df = aqi_meck_df.sort_values(by="DATE")
aqi_wake_df = aqi_wake_df.sort_values(by="DATE")

In [9]:
aqi_wake_df

,DATE,COUNTY,CO_DAILY_AQI_VALUE,NO2_DAILY_AQI_VALUE,OZONE_DAILY_AQI_VALUE,PM2_DAILY_AQI_VALUE,PM10_DAILY_AQI_VALUE
0,2023-01-01,Wake,5.0,NaN,NaN,NaN,NaN
544,2023-01-01,Wake,NaN,16.0,NaN,NaN,NaN
1082,2023-01-01,Wake,NaN,NaN,23.0,NaN,NaN
1459,2023-01-01,Wake,NaN,NaN,NaN,35.0,NaN
273,2023-01-01,Wake,5.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2081,2023-11-21,Wake,NaN,NaN,NaN,22.0,NaN
1770,2023-11-22,Wake,NaN,NaN,NaN,14.0,NaN
2082,2023-11-22,Wake,NaN,NaN,NaN,8.0,NaN
1771,2023-11-23,Wake,NaN,NaN,NaN,31.0,NaN
2083,2023-11-23,Wake,NaN,NaN,NaN,19.0,NaN

In [10]:
aqi_meck_df

,DATE,COUNTY,CO_DAILY_AQI_VALUE,NO2_DAILY_AQI_VALUE,OZONE_DAILY_AQI_VALUE,PM2_DAILY_AQI_VALUE,PM10_DAILY_AQI_VALUE
0,2023-01-01,Mecklenburg,6.0,NaN,NaN,NaN,NaN
610,2023-01-01,Mecklenburg,NaN,11.0,NaN,NaN,NaN
3172,2023-01-01,Mecklenburg,NaN,NaN,NaN,NaN,13.0
907,2023-01-01,Mecklenburg,NaN,9.0,NaN,NaN,NaN
1205,2023-01-01,Mecklenburg,NaN,NaN,20.0,NaN,NaN
...,...,...,...,...,...,...,...
1528,2023-11-23,Mecklenburg,NaN,NaN,26.0,NaN,NaN
2848,2023-11-23,Mecklenburg,NaN,NaN,NaN,51.0,NaN
2199,2023-11-23,Mecklenburg,NaN,NaN,NaN,42.0,NaN
3171,2023-11-23,Mecklenburg,NaN,NaN,NaN,NaN,10.0
3481,2023-11-23,Mecklenburg,NaN,NaN,NaN,NaN,8.0

# 2. Clean & Merge Data Frames

Find the MAX AQI values for each pollutant to compare to find the "Daily AQI Value". Keep count of each pollutant that has the maximum to store as "Days of Pollutant Name" in the final dataframe.

In [11]:
# Set index to "DATE"
aqi_meck_df = aqi_meck_df.set_index("DATE")
aqi_wake_df = aqi_wake_df.set_index("DATE")

In [12]:
# Change null to zero
aqi_meck_df = aqi_meck_df.fillna(0)
aqi_wake_df = aqi_wake_df.fillna(0)

# Group by Date
aqi_meck_df = aqi_meck_df.groupby("DATE").max()
aqi_wake_df = aqi_wake_df.groupby("DATE").max()

In [13]:
# Drop Null Values
aqi_meck_df = aqi_meck_df.dropna()

In [14]:
# Drop duplicates
aqi_meck_df = aqi_meck_df.drop_duplicates()
aqi_wake_df = aqi_wake_df.drop_duplicates()

In [17]:
# Create new column named "Daily AQI Value"
aqi_meck_df["DAILY_AQI_VALUE"] = 0
aqi_wake_df["DAILY_AQI_VALUE"] = 0

# Create new columns named "Days {x}" where x is the pollutant
for x in pollutant:
    aqi_meck_df[f"Days {x}"] = 0
    aqi_wake_df[f"Days {x}"] = 0

In [18]:
# Find highest AQI value for each day and store in "DAILY_AQI_VALUE" column. Also keep track of pollutant with highest AQI value for each day.
for index, row in aqi_meck_df.iterrows():
    meck_max_aqi = 0
    pollutant_max_aqi = ""
    for x in pollutant:
        if row[f"{x}_DAILY_AQI_VALUE"] > meck_max_aqi:
            meck_max_aqi = row[f"{x}_DAILY_AQI_VALUE"]
            pollutant_max_aqi = x
    aqi_meck_df.loc[index, "DAILY_AQI_VALUE"] = meck_max_aqi
    aqi_meck_df.loc[index, f"Days {pollutant_max_aqi}"] = 1
    


for index, row in aqi_wake_df.iterrows():
    wake_max_aqi = 0
    pollutant_max_aqi = ""
    for x in pollutant:
        if row[f"{x}_DAILY_AQI_VALUE"] > wake_max_aqi:
            wake_max_aqi = row[f"{x}_DAILY_AQI_VALUE"]
            pollutant_max_aqi = x
    aqi_wake_df.loc[index, "DAILY_AQI_VALUE"] = wake_max_aqi
    aqi_wake_df.loc[index, f"Days {pollutant_max_aqi}"] = 1

In [20]:
# Find the 90th percentile for "DAILY_AQI_VALUE"
meck_90th = aqi_meck_df["DAILY_AQI_VALUE"].quantile(0.9)
wake_90th = aqi_wake_df["DAILY_AQI_VALUE"].quantile(0.9)

# Find the Sum of Days for each pollutant
for x in pollutant:
    meck_sum = aqi_meck_df[f"Days {x}"].sum()
    wake_sum = aqi_wake_df[f"Days {x}"].sum()
    print(f"Mecklenburg County: {x} - {meck_sum}")
    print(f"Wake County: {x} - {wake_sum}")
    print("")

Mecklenburg County: CO - 0
Wake County: CO - 0

Mecklenburg County: NO2 - 1
Wake County: NO2 - 2

Mecklenburg County: OZONE - 218
Wake County: OZONE - 175

Mecklenburg County: PM2 - 108
Wake County: PM2 - 148

Mecklenburg County: PM10 - 0
Wake County: PM10 - 0

In [24]:
# Create a new Data Frame with the County, the 90th percentile AQI value and the Sum of Days for each pollutant
meck_pollutant_df = pd.DataFrame({"Year": "2023", "County": "Mecklenburg", "90th Percentile AQI": meck_90th, "Days CO": aqi_meck_df["Days CO"].sum(), "Days NO2": aqi_meck_df["Days NO2"].sum(), "Days OZONE": aqi_meck_df["Days OZONE"].sum(), "Days PM2.5": aqi_meck_df["Days PM2"].sum(), "Days PM10": aqi_meck_df["Days PM10"].sum()}, index=[0])
wake_pollutant_df = pd.DataFrame({"Year": "2023", "County": "Wake", "90th Percentile AQI": wake_90th, "Days CO": aqi_wake_df["Days CO"].sum(), "Days NO2": aqi_wake_df["Days NO2"].sum(), "Days OZONE": aqi_wake_df["Days OZONE"].sum(), "Days PM2.5": aqi_wake_df["Days PM2"].sum(), "Days PM10": aqi_wake_df["Days PM10"].sum()}, index=[0])

In [25]:
meck_pollutant_df

,Year,County,90th Percentile AQI,Days CO,Days NO2,Days OZONE,Days PM2.5,Days PM10
0,2023,Mecklenburg,71.0,0,1,218,108,0

In [26]:
wake_pollutant_df

,Year,County,90th Percentile AQI,Days CO,Days NO2,Days OZONE,Days PM2.5,Days PM10
0,2023,Wake,63.0,0,2,175,148,0

# 3. Final AQI Data Frame

In [27]:
# Merge the two Data Frames
pollutant_df = pd.concat([meck_pollutant_df, wake_pollutant_df])
pollutant_df = pollutant_df.reset_index(drop=True)
pollutant_df

,Year,County,90th Percentile AQI,Days CO,Days NO2,Days OZONE,Days PM2.5,Days PM10
0,2023,Mecklenburg,71.0,0,1,218,108,0
1,2023,Wake,63.0,0,2,175,148,0

In [28]:
# Export to csv
pollutant_df.to_csv("Resources/nc_2023_data.csv", index=False)